{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TheIronBank</title>
  <link rel='stylesheet' href="{% static 'appironbank/css/bootstrap.css' %}"/>
  <link rel='stylesheet' href="{% static 'appironbank/pagestyling.css' %}"/>
    {% block headcontent %}
    {% endblock %}
</head>
<div class='container'>
  <body>
  <a href={% url 'index' %}>Index</a>
  {% if request.user.is_authenticated %}
  <!--If logged in -->
  <a href="{% url 'logout' %}?next=/">Logout</a>
  <a href="{% url 'userdata' %}">Account</a>
  <a href="{% url 'transactiontransfer' %}">Transfer</a>
  {% else %}
  <!-- If NOT logged in -->
  <a href="{% url 'register' %}">Register</a>
  <a href="{% url 'login' %}">Login</a>
  {% endif %}
  <hr>
    {% block bodycontent %}
    {% endblock %}
  </body>
</div>
</html>
