{% extends 'base.html' %}

{% block bodycontent %}
{% if request.user == user %}
  <form action="" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="Complete Transaction">
  </form>
    <br>
    <h2>Past Transactions</h2>
      {% for item in transactions %}
        {% if item.transtype == 'credit' %}
          {{ item.date }}
          <b>{{ item.transtype }}</b>
          <br>
        {% elif item.transtype == 'debit' %}
          {{ item.date }}
          <b>{{ item.transtype }}</b>
        <br>
        {% endif %}
      {% endfor %}
{% endif %}
{% endblock %}
